<% wrap_layout :layout do %>
  <div class="article">
    <h2><%= current_page.title %></h2>
      <h3><%= current_page.date.strftime('%B %e, %Y') %></h3>
      <section>
        <%= yield %>
      </section>

      <!--
      <nav class="tags">
        <% if (current_page.tags && current_page.tags.size > 0) %>
          Tags: 
          <% current_page.tags.each do |tag| %>
            <% if tag != current_page.tags[0] %>
            ,
            <% end %>

            <a href="/tags/<%= tag %>.html"><%= tag %></a>
          <% end %>
        <% end %>
      </nav>
      -->

      <% next_article = current_article.previous_article %>
      <% if next_article %>
        <nav>
          Next: <%= link_to "#{next_article.title} &raquo;", next_article.url %>
        </nav>
      <% end %>

  </div>

  <script type="text/javascript">
    analytics.track('Read an article', {
        article        : <%= current_page.title %>,
    });
</script>

<% end %>
