<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    
    <title>Asif Sheikh | Engineer, thinker</title>
    <meta name="description" content="Asif Sheikh, iOS engineer at Google. Contributed to Google+, photobhejo.com, grepfiles.com, inboxslasher.com, and many more fun projects. ">
    <meta name="viewport" content="width=device-width">
    
    <%= stylesheet_link_tag 'normalize', 'app' %>
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18036429-2']);
      _gaq.push(['_setDomainName', 'asif.in']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

    <header>
      <div class="container">
        <section>
          <h1><%= link_to "Asif Sheikh", "/" %></h1>
          <h2>Thinker. Doer.</h2>
        </section>
      </div>
    </header>

    <nav role="navigation">
      <div class="container">
        <ul>
          <li><%= link_to 'Articles', '/archive' %></li>
          <li><%= link_to 'Products', '/products' %></li>
          <li><%= link_to 'About', '/about' %></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <article role="main">
      <%= yield %>
      </article>
    </div>

    <footer>
      <div class="container">
        <section role="attribution">
          <p>
            <%= mail_to 'mail@asif.in', image_tag('social/email.png', :height => 32) %>
            <%= link_to image_tag('social/rss.png', :height => 32), '/feed.xml' %>
          </p> 
        </section>
      </div>
    </footer>  
        
  </body>
</html>
