<article class="products">

  <section>
    <%= link_to 'Google+', 'https://itunes.apple.com/us/app/google+/id447119634?mt=8' %>
    <p>iOS app for Google+. Engineer since 2012. Tech Lead since 2014.</p>
  </section>

  <section class="dead">
    <%= link_to 'photobhejo.com', 'http://photobhejo.com' %>
    <p>Print and send photos to your family in India</p>
  </section>

  <section class="dead">
    <%= link_to 'grepfiles.com', '' %>
    <p>Quick text search within binary document files (pdf, word etc.)</p>
  </section>

  <section class="dead">
    <%= link_to 'inboxslasher.com', '' %>
    <p>Priority inbox for any IMAP email server</p>
  </section>

<!--
  <section class="dead">
    <%= link_to 'easygift.in', '' %>
    <p>Gift shopping made easy</p>
  </section>
-->
  <section>
    <%= link_to 'lessifier', 'http://lessifier.heroku.com/' %>
    <p>Convert CSS to SCSS</p>
  </section>

</article>
